.menu {
    background-image: url(/img/mainFoto.jpg);
}

.menu p {
    text-align: center;
    font-family: Verdana;
    font-style: italic;
    font-size: 50px;
    color: #ebebeb;
    padding: 20px;
}

.nuorodos a {
    width: 13%;
    color: white;
    font-size: 25px;
    padding: 10px;
    display: inline-block;
    margin-left: 11px;
}
.photos img{
    width: 23%;
    height:33% ;
    border: 2px solid white;
    margin: 5px;
    /*padding: 5px;*/
}
.photos img:hover{
    border: 2px solid black;
}

.coverPhoto{
    display: block;
    margin: 5px auto;
    width: 46%;
    height: 35%;
}
.zemelapis{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: lightgrey;
}

table {
     border-collapse: collapse;
     width: 100%;
     margin-top: 10px;

 }
table th{
    font-size: 25px;
    text-align: left;
    padding: 8px;
}
table td {
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2
}
