.menu {
    background-image: url(/img/mainFoto.jpg);
}

.menu p {
    text-align: center;
    font-family: Verdana;
    font-style: italic;
    font-size: 50px;
    color: #ebebeb;
    padding: 20px;
}

.nuorodos a {
    width: 13%;
    color: #bef2e5;
    font-size: 25px;
    padding: 10px;
    display: inline-block;
    margin-left: 11px;
}
.photos img{
   width: 23%;
    height:33% ;

    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.coverPhoto{
   display: block;
    margin: 5px auto;
    width: 46%;
    height: 35%;
}
.zemelapis{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
