.menu {
    background-image: url(/img/mainFoto.jpg);
}

.menu p {
    text-align: center;
    font-family: Verdana;
    font-style: italic;
    font-size: 50px;
    color: #ebebeb;
    padding: 20px;
}

.nuorodos a {
    width: 16%;
    color: white;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}

.coverPhoto {
    margin: 0 23%;
    width: 50%;
    padding: 2%;
    display: inline-block;
    /*position:absolute;*/

}
.kontaktaiBlokas{
    margin: 1% 0 1% 8%;
}
.kontaktai {
    display: inline-block;
    width: 24%;
    /*margin: 2% 4%;*/
    vertical-align: top;

}
.kontaktai div {
    margin: 5% 0 0 2%;
    font-family: Verdana;



}

.zemelapis {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photos img {
    width: 23%;
    height: 33%;
    border: 2px solid white;
    margin: 5px;

}

.photos img:hover {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table th {
    font-size: 25px;
    text-align: left;
    padding: 8px;
}

table td {
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2
}

.vertybes {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    font-family: Verdana;
}

.vertybes1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.naujienos {
    font-size: 50px;
    text-align: center;
    margin: 120px;
    border: 5px solid black;
    padding: 50px;
}




