.menu {
    background-image: url(/img/mainFoto.jpg);
}

.pradzios_kaire_patarles {
    text-align: left;
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
    color: black;
    padding: 30px;
}

.pradzios_kaire_vertybes {
    text-align: left;
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
    color: black;
    padding: 30px;
}

.pradzios_desine_anekdotai {
    text-align: left;
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
    color: black;
    padding: 30px;
}

.pradzios_kaires_divas {
    float: left;
}
.pradzios_desines_divas {
    float: right;
}

.menu p {
    text-align: center;
    font-family: Verdana;
    font-style: italic;
    font-size: 50px;
    color: #ebebeb;
    padding: 20px;
}

.nuorodos a {
    width: 13%;
    color: white;
    font-size: 25px;
    padding: 10px;
    display: inline-block;
    margin-left: 11px;
}

.photos img {
    width: 23%;
    height: 33%;
    border: 2px solid white;
    margin: 5px;
    /*padding: 5px;*/
}

.photos img:hover {
    border: 2px solid black;
}

.coverPhoto {
    float: left;
}

.pradineNuotrauka {
    margin: 0 auto;
    width: 480px;
    height: 640px;
    padding-top: 30px;
}

.zemelapis {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;

}

table th {
    font-size: 25px;
    text-align: left;
    padding: 8px;
}

table td {
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2
}

p {
    line-height: 25px;
    margin-left: 10px;
}
