.house {
    width: 75px;
    height: 75px;
    position: sticky;
    animation: house 4s infinite;
    animation-direction: alternate;
    float:left;
}
@keyframes house {
    0%  {top: 105px; }
    100% { top: 500px; }
}

.house2 {
    float:right;
    width: 75px;
    height: 75px;
    position:sticky;
    animation: house2 4s infinite;
    animation-direction: alternate;

}
@keyframes house2 {
    0%  {top: 500px; }
    100% { top: 105px; }
}

.zemelapis {
    display: block;
    margin-left: auto;
    margin-right: auto;


}